<div class="max-w-screen-2xl mx-auto my-8">
  <div class="mx-4">
    <a href="/">
      <img class="h-12 w-auto" src="<%= image_path 'black_logo_assmac.svg' %>" alt="Logo Assmac">
    </a>
  </div>
</div>
